
<h1>Datos del proyecto</h1>




<h4>Argumentos de entrada:</h4>
{{!-- {{#each this.argumentosDeEntrada}} --}}
{{json this.argumentosDeEntrada}}

{{!-- {{/each}} --}}
<h4>Nombre de la plataforma:</h4>
{{this.Plataforma}}
<h4>Version de Node.js: </h4>
{{this.Version}}
<h4>Memoria total reservada: </h4>
{{this.Memoria}}
<h4>Path de ejecucion: </h4>
{{this.Path}}
<h4>Process id: </h4>
{{this.Pid}}
<h4>Carpeta del proyecto: </h4>
{{this.Proyecto}}

